<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
<div class="col-6 offset-3">
<br><br><br>
    <h3>Create a new Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required><br>
            <div class="valid-feedback">Title Looks good!</div>
            <div class="invalid-feedback">Please Enter Valid Details</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea> <br>
            <div class="valid-feedback">Description Looks good!</div>
            <div class="invalid-feedback">Please Enter Valid Details</div>
        </div>      
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="listing[image]" type="file" class="form-control" required><br>
          
        </div>

        <div class="row">
        <div class="mb-3 col-md-4" >
            <label for="price" class="form-label">Price</label> 
            <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" required><br>
            <div class="valid-feedback">Price Looks good!</div>
            <div class="invalid-feedback">Please Enter Valid Details</div>
        </div>

    
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label> 
            <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required><br>
            <div class="valid-feedback">Country Looks good!</div>
            <div class="invalid-feedback">Please Enter Valid Details</div>
        </div>
        </div>


         <div class="mb-3"> 
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required><br>
            <div class="valid-feedback">Location Looks good!</div>
            <div class="invalid-feedback">Please Enter Valid Details</div>
        </div>

        <div class="mb-3 col-md-4 ">
            <label for="category" class="form-label">Category:</label>
            <select id="category" name="listing[category]" required class="form-select">
                <option selected>Select Category</option>
                <option value="trending">Trending</option>
                <option value="rooms">Rooms</option>
                <option value="cities">Cities</option>
                <option value="hill-station">Hill Station</option>
                <option value="castles">Castles</option>
                <option value="pool-area">Pool Area</option>
                <option value="camping">Camping</option>
                <option value="farms">Farms</option>
                <option value="arctic">Arctic</option>
                <option value="domes">Domes</option>
                <option value="house-boat">House Boat</option>
            </select>
           <div class="invalid-feedback">Category should be valid</div>
        </div>
    </div>

    <div class="col-1 offset-3">
        <button class="btn btn-dark add-btn ">Add</button>
    </div>
    </form>
<br><br><br>
</div>
</div>